/* 疑似要素を用いてオーバーレイを表示 */
.file-selection-hover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 255, 0.2); /* 半透明の青 */
	pointer-events: none; /* オーバーレイ自体がイベントを受けないように */
	z-index: 10; /* 内部の他の要素より上に表示する */
	border-radius: 10px;
}
